@font-face {
  font-family: Philly;
  src: url(./MLBPhiladelphiaPhillies1980.ttf);
}


body {
  font-family: Philly;
  margin:0px;
  
}
h1 {
  font-size: 10vw;
  margin:0px;
  font-weight: normal;
}
h2 {
  font-size: 7vw;
  margin:0px;
  font-weight: normal;
}
h3 {
  font-size: 4vw;
  margin:0px;
  padding-bottom:2px;
  font-weight: normal;
}
#tix {
  font-size: 3vw;
  margin:0px;
  color: #F39;
}
.main {
  padding:20px;
  text-align: center;
  margin-top:200px;
}
.left {
  text-align:left;
}
#map { 
  height: 45vh;
}

.presenter {
  padding:20px;
}

.name {
  font-size: 12pt;
  color:#999;
} 

.title {
  font-size: 12pt;
  width: 100px;
}

.presenter img {
  border-radius: 1000px;
  transition: 1s;
  width: 20vw;
  min-width: 50px;
  max-width: 175px;
}

img.grey { 
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
  
}

img.grey:hover {
  -webkit-filter: none;
  -moz-filter: none;
  filter: none;
}

.sponsors {
  padding: 5px 20px;
}

.sponsors img {
  width:18vw;
}

.bg-pattern {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1
}
