@font-face {
  font-family: Philly;
  src: url(./MLBPhiladelphiaPhillies1980.ttf);
}

$blue: #081860;
$cream: #FCFDF8;
$gray: #bcc4d3;
$maroon: #800;
$splash: #27354F;

$body-font: 'Open Sans', 'Karla', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
$header-font: 'Unica One', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
$mono-font: 'Menlo', 'Source Code Pro', monospace;
$philly-font: 'Philly';

html, body {
  background: $cream;
  text-align: center;
  font-family: $body-font;
  font-size: 150%;
  padding:0px;
  margin:0px;
  color: #222;
}

h3, h4, h5, h6 {
  font-family: $header-font;
  text-transform: uppercase;
  color: $cream;
}

h1, h2 {
  font-family: $philly-font;
  font-weight: normal;
  color: $cream;
}

h1 {
}

.block {
  position: relative;
  display: inline-block;
  float: none;
  padding-left: 1em;
  padding-right: 1em;
  text-align: center;
  vertical-align: top;
}

.third {
  width: 25%;
}

$grad1: #136a8a;
$grad2: #267871;

#banner {
  background: -webkit-linear-gradient(90deg, $grad1 10%, $grad2 90%); 
  background:    -moz-linear-gradient(90deg, $grad1 10%, $grad2 90%);
  background:     -ms-linear-gradient(90deg, $grad1 10%, $grad2 90%);
  background:      -o-linear-gradient(90deg, $grad1 10%, $grad2 90%);
  background:         linear-gradient(90deg, $grad1 10%, $grad2 90%);
  background: $splash;
  width: 100%;
  padding: 10px;
}

#tix { 
  position: absolute;
  top:10px;
  right: 10px;
  border: 1px solid $cream;
  border-radius: 4px;
  color: $cream;
  font-size:20px;
  padding: 10px;
}
#tix:hover {
  cursor: pointer;
  background: $maroon;
}

#content {
  margin-top: 0px;
  .section {
    padding: 35px 10px;
  }
}

#about {
  background: #f4f8fb;
  font-size: 40%;
}

#venue {
  font-size: 40%;
  height: 225px;
  width: 50%;
  margin:auto;
}
#logo {
  background: url(../img/quorum.png) no-repeat 50% 0;
  height: 125px;
}

#details {
  font-size: 75%;
  background-color: #800;
  color: #fff;
  font-family: $philly-font;
}

.deets {
  font-family: $philly-font;
}

#register {
  background: $blue;
  width: 250px;
  margin: auto;
  padding: 5px;
  font-size:28px;
  h4 {
    padding:1px;
  }
}

#footer {
  border-top: 1px solid #aaa;
  width: 75%
}
