---
title: JS.Geo
location: Philadelphia, PA
layout: _layout:main
speakers: 
  - name: Matthew Amato
    org: Cesium
    img: matt_amato.jpg
  - name: Lauren Ancona
    org: City of Philadelphia
    img: lauren_ancona.png
  - name: Michael Bowman
    org: Applied Information Sciences
    img: michael_bowman.jpg
  - name: Bryan McBride
    org: Fulcrum
    img: bryan_mcbride.jpg
  - name: Christopher Pollard
    org: Delaware Valley Regional Planning
    img: christopher_pollard.jpg
  - name: Chris Whong
    org: CartoDB
    img: chris_whong.jpg
  - name: Patricio Gonzalez Vivo
    org: Mapzen
    img: patricio_gonzalez_vivo.jpg
sponsors:
  - name: Azavea
    url: http://www.azavea.com/
  - name: Cesium
    url: http://cesiumjs.org/
  - name: Fulcrum
    url: http://fulcrumapp.com/
  - name: Zekiah
    url: http://www.zekiah.com/
  - name: BrightRain
    url: http://www.brightrain.com/
  - name: Cloudant
    url: http://www.ibm.com/mobilefirst/us/en/
---

{% include "_main" %}
{% include "_content" %}
