---
title: JS.Geo
location: Philadelphia, PA
layout: _layout:main
speakers: 
  - name: Matthew Amato
    org: Cesium
    img: matt_amato.jpg
  - name: Lauren Ancona
    org: City of Philadelphia
    img: lauren_ancona.png
  - name: Michael Bowman
    org: Applied Information Sciences
    img: michael_bowman.jpg
  - name: Bryan McBride
    org: Fulcrum
    img: bryan_mcbride.jpg
  - name: Christopher Pollard
    org: Delaware Valley Regional Planning
    img: christopher_pollard.jpg
  - name: Chris Whong
    org: CartoDB
    img: chris_whong.jpg
  - name: Patricio Gonzalez Vivo
    org: Mapzen
    img: patricio_gonzalez_vivo.jpg
  - name: Anand Thakker
    org: Development Seed
    img: anand_thakker.jpg 
  - name: Carl Lewis
    org: Hackademic
    img: carl_lewis.jpg
  - name: Diana Shkolnikov
    org: Mapzen
    img: diana_shkolnikov.png
  - name: Erez Cohen
    org: Mapsense
    img: erez_cohen.jpg
  - name: Jill Hubley
    org: Indie Developer
    img: jill_hubley.jpg
  - name: Max Galka
    org: Metrocosm
    img: max_galka.jpg
  - name: Norman Barker
    org: IBM MobileFirst
    img: norman_barker.jpg
sponsors:
  - name: Azavea
    url: http://www.azavea.com/
  - name: Cesium
    url: http://cesiumjs.org/
  - name: Fulcrum
    url: http://fulcrumapp.com/
  - name: Zekiah
    url: http://www.zekiah.com/
  - name: BrightRain
    url: http://www.brightrain.com/
  - name: Cloudant
    url: http://www-03.ibm.com/software/products/en/ibm-presence-insights
---

{% include "_main" %}
{% include "_content" %}
